/* ----------------------------------------------------------------
	Canvas: Headphones Demo
	Version: 1.0
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Slider
-----------------------------------------------------------------*/
.slider-element .heading-block p	{
	text-transform: uppercase;
	font-style: normal;
	letter-spacing: 5px;
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 15px;
	color: rgba(255, 255, 255, 0.7);
}

.slider-element .slider-product-desc {
	position: absolute;
	top: auto;
	bottom: 0;
	left: auto;
	right: 0;
	width: 65%;
	z-index: 2;
}

.slider-element .slider-product-desc [class^='col-'] {
	background-color: #353535;
	padding: 30px;
}

.slider-element .vertical-middle .container { top: -60px; }

.play-icon {
	position: relative;
	display: block;
	font-size: 18px;
	margin: 20px 0 0 0;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border-radius: 50%;
	color: #FFF !important;
	border: 2px solid #EEE;
	text-align: center;
	-webkit-transition: transform .3s ease;
	-o-transition: transform .3s ease;
	transition: transform .3s ease;
}

.play-icon i {
	position: relative;
	left: 2px;
}

.play-icon:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.heading-block h3 {
	font-weight: 800;
	text-transform: none;
	font-size: 2.3rem;
	letter-spacing: 0;
}

.edge-underline h3,
.product:hover .product-title h3 {
	text-decoration: underline;
	text-decoration-skip: edges;
}

/* ----------------------------------------------------------------
	On Hover Changes
-----------------------------------------------------------------*/
.showcase-target-images { position: relative; }

.showcase-target {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1);
	-moz-transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1);
	-o-transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1);
	transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1);
}

.showcase-target.showcase-target-active {
	position: relative;
	display: block;
}

.showcase-section:hover .showcase-target {
	-webkit-transform: scale(1.05, 1.05);
	-ms-transform: scale(1.05, 1.05);
	-o-transform: scale(1.05, 1.05);
	transform: scale(1.05, 1.05);
}

.showcase-section ul li {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: #000;
	cursor: pointer;
	border: 1px solid #EEE;
}

.showcase-section ul li.headphone-red { background-color: #af1e2b; }
.showcase-section ul li.headphone-black { background-color: #000; }
.showcase-section ul li.headphone-blue { background-color: darkblue; }
.showcase-section ul li.headphone-pink { background-color: pink; }
.showcase-section ul li.headphone-white { background-color: white; }

.sale-flash {
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 3px;
	font-size: 11px;
	text-shadow: none;
	background-color: #222 !important;
	left: 50%;
	top: 20px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

/* ----------------------------------------------------------------
	Section Products
-----------------------------------------------------------------*/

.section-product {
	position: relative;
	width: 100%;
}

.section-product .section-product-image {
	width: 100%;
}

.section-product .section-product-content {
	max-width: 100%;
	position: relative;
	bottom: 0px;
	right: 0;
	background-color: #FFF;
	padding: 20px;
	z-index: 1;
}

.section-product .section-product-content h3 { font-weight: 800; }

.section-product.alt .section-product-image,
.section-product.alt .section-product-content { float: none; }

.section-product .section-product-price {
	font-size: 1.5rem;
	font-weight: 700;
}

.explore-text-overlay {
	opacity: 0;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: calc(100% - 30px);
	height: 100%;
	z-index: 1;
	background-color: rgba(0,0,0,0.6);
	margin-left: 15px;
	-webkit-transition: all .4s ease ;
	-o-transition: all .4s ease ;
	transition: all .4s ease ;
}

.text-overlay-wrap:hover .explore-text-overlay { opacity: 1; }

.section-contact h3 {
	font-size: 1.4rem;
	font-weight: 700;
}

.section-contact > div {
	padding: 30px 20px;
	border: 1px solid #EEE;
}

.social-icon.si-mini {
	width: 28px;
	height: 28px;
	font-size: 12px;
	line-height: 27px !important;
}

.social-icon.si-mini:hover i:first-child { margin-top: -27px; }

.feature-box.media-box .fbox-icon {
	position: relative;
	width: 36px;
	height: 54px;
}

@media (min-width: 1199px) {

	#primary-menu ul li > a {
		font-size: 15px;
		letter-spacing: 0;
		text-transform: none;
	}

	/* Hover Effects style-7 */
	#primary-menu ul li > a div {
		position: relative;
		overflow: hidden;
	}

	#primary-menu ul li > a div::before,
	#primary-menu ul li > a div::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.4);
		transform: translate3d(-100%,0,0) translate3d(-1px,0,0);
		transition: transform 0.7s;
		transition-timing-function: cubic-bezier(0.7,0,0.3,1);
		z-index: -1;
	}

	#primary-menu ul li.current > a div::before,
	#primary-menu ul li > a:hover div::before { transform: translate3d(100%,0,0) translate3d(1px,0,0); }

	#primary-menu ul li.current > a div::after,
	#primary-menu ul li > a:hover div::after { transform: translate3d(0,5px,0); }

	#primary-menu ul li > a div::after {
		top: calc(50%);
		height: 4px;
	}

	.product {
		padding: 65px;
		border-right: 1px solid #EEE;
	}

	.slider-element .heading-block h2 {
		font-size: 70px;
		line-height: 85px;
		text-transform: none;
		letter-spacing: 0;
		font-weight: 100;
	}

	.slider-element .slider-product-desc [class^='col-'] { padding: 50px; }

	.play-icon { margin: 0 auto; }

	.section-product .section-product-image {
		position: relative;
		width: 85%;
		background: #FFF;
	}

	.section-product .section-product-content {
		max-width: 400px;
		position: absolute;
		bottom: 30px;
		right: 0;
		padding: 30px;
	}

	.section-product.alt .section-product-image { float: right; }

	.section-product.alt .section-product-content {
		left: 0;
		right: auto;
	}

}

@media (max-width: 991px) {
	.slider-element .vertical-middle .container { top: 0; }
}

.inline-YTPlayer { z-index: 1; }

#ytb-video-button.play-icon {
	position: absolute;
	left: auto;
	bottom: 10px;
	right: 10px;
	width: 42px;
	height: 42px;
	line-height: 39px;
	font-size: 20px;
	text-align: center;
	border-width: 2px;
	z-index: 2;
}

#ytb-video-button.play-icon i:nth-of-type(1) {
	position: relative;
	left: 1px;
}

#ytb-video-button.play-icon i:nth-of-type(2),
#ytb-video-button.play-icon.video-played i:nth-of-type(1) { display: none; }

#ytb-video-button.play-icon.video-played i:nth-of-type(2) { display: block; }
